@charset "utf-8";
html, body, p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #555;
}

h1 {
    font-size: 2em;
}

h1.chapter {
    border-bottom: 1px solid #ccc;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .1);
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4, h5, h6 {
    font-size: 1.3em;
}

a, a:hover, a:active, a:visited {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    text-decoration: none !important;
    outline: none !important;
}

a, a:visited {
    color: #424242;
    font-size: 1em;
}

a:hover, a:active {
    color: #212121;
    text-decoration: underline;
}

strong {
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

p {}

pre {
    font-family: monospace;
}


/*
Index boxes
*/

.square-box {
    float: left;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}


/*
Margin bitween box add below class
*/

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    background: #555;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 10px;
}

a.square-content:active {
    box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
    opacity: .9;
}

.square-content p {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*
pseudo code
*/

pre.pseudo-code {
    padding: 20px 10px;
    background: #ddd;
    border-left: 3px solid rgba(0, 0, 0, .2);
    margin: 0;
    overflow-x: auto;
}


/*
title
*/

h2.def-title {
  margin: 20px 0px 0px;
  font-size: 21px;
  padding: 5px 0px;
  text-align: left;
  padding-left: 10px;
}

.help-links ul {
    list-style: none;
    padding-left: 10px;
}

.help-links li a {
    border-bottom: 2px solid rgb(153, 153, 153);
    line-height: 1.5em;
}

/*
Color
*/
.color-1 {
  background: #f44336; /*Red*/
}
.color-2 {
  background: #e91e63; /*Pink*/
}
.color-3 {
  background: #9c27b0; /*Purple*/
}
.color-4 {
  background: #3f51b5; /*Indigo*/
}
.color-5 {
  background: #2196f3; /*Blue*/
}
.color-6 {
  background: #43a047; /*Green*/
}
.color-7 {
  background: #827717; /*Lime*/
}
.color-8 {
  background: #e65100; /*Orange*/
}
.color-9 {
  background: #795548; /*Brown*/
}
.color-10 {
  background: #607d8b; /*Blue Grey*/
}
